<section class="top-navigation-drawer" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"
         xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <v-app>
        <v-app-bar app>
            <v-toolbar flat>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>Que</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-toolbar-items>
                    <v-btn v-on:click="nativateToHere('home')" text>
                        <v-icon>mdi-home</v-icon>
                    </v-btn>
                    <v-btn  v-on:click="nativateToHere('products')" text>
                        <v-icon>mdi-playlist-minus</v-icon>
                    </v-btn>
                   <!-- <v-btn>
                        <router-link :to="{ name: 'AddUser' }">Add User</router-link>
                    </v-btn>-->
                </v-toolbar-items>

                <template>
                    <v-btn icon>
                        <v-icon>mdi-export</v-icon>
                    </v-btn>
                    <!--<v-btn icon>
                      <v-icon>mdi-delete-circle</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>mdi-plus-circle</v-icon>
                    </v-btn>-->
                </template>
            </v-toolbar>
        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                absolute
                temporary>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-img src="https://avatars2.githubusercontent.com/u/29277048?s=460&v=4"></v-img>
                    </v-list-item-avatar>
                </v-list-item>

                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title class="title">Elirehema Paul</v-list-item-title>
                        <v-list-item-subtitle>eli@singo.africa</v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-icon>mdi-menu-down</v-icon>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list
                    nav
                    dense>
                <v-list-item-group v-model="item" color="primary">
                    <v-list-item
                            v-for="(item, i) in items"
                            :key="`${i}-${item.route}`"
                            v-on:click="nativateToHere(item.route)">
                        <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>&nbsp;&nbsp;

                        <v-list-item-content>
                            <v-list-item-title v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

        <v-content>
            <!-- Provides the application the proper gutter -->
            <v-container fluid>
                <!-- If using vue-router -->
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer
                dark
                padless app>
            <v-card
                    class="flex"
                    flat
                    tile>
                <v-card-title class="">
                    <small class="subheading">Get connected with us on social networks!</small>
                    <v-spacer></v-spacer>
                    <v-btn
                            v-for="icon in icons"
                            :key="icon.icon"
                            class="mx-1"
                            dark
                            icon>
                        <a v-bind:href="icon.url" target="_blank">
                        <v-icon size="14px"  >{{ icon.icon }}</v-icon></a>
                    </v-btn>
                    <div class="subheading">&copy; {{ new Date().getFullYear() }}</div>

                </v-card-title>
            </v-card>
        </v-footer>
    </v-app>
</section>


