<section class="user-profile">
  <v-card>
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>User Profile</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab v-for="p in account">
        <v-icon left>{{p.icon}}</v-icon>
        {{p.title}}
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <acc-profile></acc-profile>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <acc-account></acc-account>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <acc-settings></acc-settings>
        </v-card>
      </v-tab-item>
      <v-tab-item>
          <v-card flat>
        <acc-gallery></acc-gallery>
      </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <acc-help></acc-help>
        </v-card>
      </v-tab-item>

      <!--
          <v-tab-item v-for="n in 3" :key="n">
        <v-container fluid>
          <v-row>
            <v-col v-for="i in 6" :key="i" cols="12" md="4">
              <v-img :src="`https://picsum.photos/500/300?image=${i * n * 5 + 10}`" :lazy-src="`https://picsum.photos/10/6?image=${i * n * 5 + 10}`" aspect-ratio="1"></v-img>
            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>
      -->
    </v-tabs>
  </v-card>

</section>