
<section class="registration-page">

    <div>
      <h4>Register</h4>
      <form @submit.prevent="register">
        <label for="name">Name</label>
        <div>
          <input id="name" type="text" v-model="username" required autofocus>
        </div>


        <label for="password">Password</label>
        <div>
          <input id="password" type="password" v-model="password" required>
        </div>


        <div>
          <v-btn type="submit">Register</v-btn>
        </div>
      </form>
    </div>
</section>

