<section class="login-page" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app>
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    prominent
                                    src="@/assets/img/reg_pannel_background.jpg"
                                    flat
                            >
                                <v-toolbar-title>Login form</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form @submit.prevent="login"  id="check-login-form" v-model="valid">
                                    <v-text-field
                                            label="Username"
                                            v-model="username"
                                            prepend-inner-icon="person"
                                            :rules=" [rules.required]"
                                            outlined
                                            required
                                    ></v-text-field>

                                    <v-text-field
                                            v-model="password"
                                            prepend-inner-icon="lock"
                                            :append-icon="show1 ? 'visibility' : 'visibility_off'"
                                            :rules="[rules.required, rules.min]"
                                            :type="show1 ? 'text' : 'password'"
                                            name="input-10-1"
                                            label="Password"
                                            hint="At least 8 characters"
                                            counter
                                            @click:append="show1 = !show1"
                                            outlined
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn  v-on:click="nativateToHere('reg')" >Register</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" type="submit" :disabled="!valid"  form="check-login-form">Login</v-btn>

                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</section>
