<section class="login-page">
    <form class="login" @submit.prevent="login">
        <v-text-field
                v-model="username"
                :counter="10"
                label="Username"
                required
        ></v-text-field>
        <v-text-field
                v-model="password"
                label="Password"
                required
        ></v-text-field>


        <v-btn class="mr-4" type="submit">submit</v-btn>

    </form>
    </template>
</section>

<!--<div>
    <form >
        <h1>Sign in</h1>
        <label>Email</label>
        <input required v-model="username" type="text" placeholder="Name"/>
        <label>Password</label>
        <input required v-model="password" type="password" placeholder="Password"/>
        <hr/>
        <button type="submit">Login</button>
    </form>
</div>-->