<section class="messages-page" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <!--<v-simple-table height="350px">
        <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Sender</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in messages" :key="item.name" id="cont">
            <td>{{ item.name }}</td>
            <td>{{ item.message }}</td>
        </tr>
        </tbody>
    </v-simple-table>-->

    <v-list two-line>
            <v-list-item v-for="item in messages" :key="item.name">
                <v-list-item-avatar>
                    <v-img src="@/assets/img/chat_bot.png"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title v-html="item.name" ></v-list-item-title>
                    <v-list-item-subtitle v-html="item.message"></v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

    </v-list>


    <div class="card-footer">
        <form @submit.prevent="sendMessage">

            <div class="gorm-group pb-3">
                <label>Message:</label>
                <input type="text" v-model="message" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
    </div>
</section>
