<section class="chat-room-page">
  <v-card>
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>Chat Room</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab v-for="(item, index) in users.slice(0, 6)">
        <v-icon left>mdi-account</v-icon>
        {{item.username}}
      </v-tab>


      <v-tab-item v-for="(item, index) in users.slice(0, 6)">
        <v-card flat :key="index" >
          <router-view></router-view>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>




    </div>
  </div>

  <div class="split right">
    <div class="centered">

    </div>
  </div>
</section>

